<article class="post">
    <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% if post.is_hot %}
        <p>hot</p>
    {% endif %}
    {% if post.hasPrimaryTerm('content-category') %}
        <p><a href="{{ post.getPrimaryTerm('content-category').path }}">{{ post.getPrimaryTerm('content-category').name }}</a></p>
    {% endif %}
    {% if post.hasPrimaryTerm %}
        <p><a href="{{ post.getPrimaryTerm.path }}">{{ post.getPrimaryTerm.name }}</a></p>
    {% endif %}
</article>
