<article class="post">
    <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% if post.is_hot %}
        <p>hot</p>
    {% endif %}
    {% if post.hasPrimaryTerm('content-category') %}
        <p><a href="{{ post.getPrimaryTermLink('content-category') }}">{{ post.getPrimaryTermName('content-category') }}</a></p>
    {% endif %}
    {% if post.hasPrimaryTerm %}
        <p><a href="{{ post.getPrimaryTermLink }}">{{ post.getPrimaryTermName }}</a></p>
    {% endif %}
    {{ post.footerCTA() }}
</article>
