<article class="m-card">
        <a class="m-card__image-link {{ ( post.contentCategory.ID == 8) ? 'watch' : '' }}" href="{{ post.link }}">
            {{ post.thumbnail ?: '<img src="/wp-content/themes/hot97/dist/images/logo-small.svg" class="m-card__image" alt="Hot 97" />' }}
        </a>
    <div class="m-card__text">
        {% if post.contentCategory %}
            <span class="m-card__content-category"><a href="{{ post.contentCategory.path }}">{{ post.contentCategory.name }}</a></span>
        {% endif %}

        {% if post.primaryCategory %}
            <span class="m-card__category"><a href="{{ post.primaryCategory.path }}">{{ post.primaryCategory.name }}</a></span>
        {% endif %}

        {% if post.isHot %}
            <span class="m-card__is-hot">
                <i aria-label="Hot Content" class="fas fa-fire"></i>
            </span>
        {% endif %}

        <h2 class="m-card__title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    </div>
</article>
