<article class="o-hero">
  <div class="o-hero__container">
    <div class="o-hero__text">
      <div class="o-hero__terms">

      {% if post.contentCategory %}
        <p class="o-hero__category--content">
            <a href="{{ post.contentCategory.path }}">
              {{ post.contentCategory.name }}
            </a>
          </p>
        {% endif %}

        {% if post.primaryCategory %}
          <p class="o-hero__category--primary">
            <a href="{{ post.primaryCategory.path }}">
              {{ post.primaryCategory.name }}
            </a>
          </p>
        {% endif %}
        {% if post.isHot %}
          <img src="{{ theme.path }}/dist/images/fire.svg" alt="HOT!" />
        {% endif %}
      </div>
      <h1 class="o-hero__title">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h1>
      {% if post.excerpt %}
        <p class="o-hero__excerpt">
          {{ post.excerpt }}
        </p>
      {% endif %}
    </div>

    {% if post.video %}
      <div class="o-hero__media">
        {% include 'components/molecules/hero-video.twig' %}
      </div>
    {% endif %}
  </div>
</article>
