<article class="o-hero">
  <div class="o-hero__container">
    <div class="o-hero__text">
      <div class="o-hero__terms">

      {% if post.contentCategory %}
        <p class="o-hero__category--content">
            <a href="{{ ( post.contentCategory.ID == 8) ? '/watch' : '/read' }}">
              {{ post.contentCategory.name }}
            </a>
          </p>
        {% endif %}

        {% if post.primaryCategory %}
          <p class="o-hero__category--primary">
            <a href="{{ post.primaryCategory.path }}">
              {{ post.primaryCategory.name }}
            </a>
          </p>
        {% endif %}
        {% if post.isHot %}
            <i aria-label="Hot Content" class="fas fa-fire has-hot-yellow-100-color"></i>
        {% endif %}
      </div>
      <h1 class="o-hero__title">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h1>
      {% if post.excerpt %}
        <p class="o-hero__excerpt">
          {{ post.excerpt }}
        </p>
      {% endif %}
    </div>

    {% if post.video %}
      <div class="o-hero__media">
        {% include 'components/molecules/hero-video.twig' %}
      </div>
    {% else %}
      <div class="o-hero__media">
        <a class="o-hero__image-link {{ post.contentCategory.name|sanitize }}" href="{{ post.link }}" style='background-image:url({{post.thumbnailurl}})'>
        </a>
      </div>
    {% endif %}
  </div>
</article>
