{% extends "base.twig" %}

{% block banner %}
    {% if not hide_banner %}
        {% include 'components/organisms/page-header.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="entry-content error-404-content">
        <p>Try searching the site using relevant topics, tags, or keywords.</p>

        <form role="search" class="m-search-results-search-form" method="get" action="{{ home_url }}">
            <label for="{{ id }}" class="m-search-results-search-form__label">
                <span class="m-search-results-search-form__label-text screen-reader-text">
                    {{ _x('Search for:', 'label') }}
                </span>
            </label>
            <input type="search" class="m-search-results-search-form__input" id="{{ id }}" name="s" value="{{ search_query }}" placeholder="{{ placeholder }}">
            <input type="submit" class="m-search-results-search-form__submit" value="Search">
        </form>
    </section>
{% endblock %}
