<footer>

    <nav aria-label="Footer" class="o-menu o-menu--footer">
        <h2 class="o-menu__heading">Footer Navigation</h2>
            {% for item in footer_menu.items %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul>
                            {% for child in item.children %}
                                <li>
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <nav aria-label="Footer Utility" class="o-menu o-menu--footer-utility">
        <h2 class="o-menu__heading">Footer Utility Navigation</h2>
            {% for item in footer_utility_menu.items %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul>
                            {% for child in item.children %}
                                <li>
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

</footer>
