<header class="o-header">

    <h1 class="o-header__logo">
        <a class="o-header__logo-link" href="{{ home_url }}">{{ site_title }}</a>
    </h1>

    <nav aria-label="Main" class="o-menu o-menu--main">
        <h2 class="o-menu__heading">Main Navigation</h2>
        <ul>
            {% for item in main_menu.items %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul>
                            {% for child in item.children %}
                                <li class="{{ child.classes|join(' ') }}">
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                    {% if child.children %}
                                        <ul>
                                            {% for child in child.children %}
                                                <li class="{{ child.classes|join(' ') }}">
                                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <nav aria-label="Utility" class="o-menu o-menu--utility">
        <h2 class="o-menu__heading">Utility Navigation</h2>
        <ul>
            {% for item in utility_menu.items %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            <li>
                {% include "components/molecules/search-form.twig" with {
                    classes: 'm-search-form--header',
                    id: 'header-search',
                    placeholder: 'Search site',
                } %}
            </li>
        </ul>
    </nav>

    <nav aria-label="Mobile" class="o-menu o-menu--mobile">
        <h2 class="o-menu__heading">Mobile Navigation</h2>
        <ul>
            {% for item in mobile_menu.items %}
                <li class="{{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul>
                            {% for child in item.children %}
                                <li class="{{ child.classes|join(' ') }}">
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                    {% if child.children %}
                                        <ul>
                                            {% for child in child.children %}
                                                <li class="{{ child.classes|join(' ') }}">
                                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
