{% if home_ctas %}
<div class="o-home-ctas">
    <div class="m-marquee-title">
        <div class="m-marquee-title__inner">
            <h1>Where Hip-Hop Lives</h1>
                {% for i in 0..5 %}
                    <span>Where Hip-Hop Lives</span>
                {% endfor %}
        </div>
    </div>
    {% for home_cta in home_ctas %}
    {% if loop.index is odd %}
        <div class="o-home-cta wp-block-media-text alignwide is-stacked-on-mobile has-media-on-the-right">
    {% else %}
        <div class="o-home-cta wp-block-media-text alignwide is-stacked-on-mobile">
    {% endif %}
            <figure class="o-home-cta__image wp-block-media-text__media">
                <img src="{{home_cta.cta_image.sizes.prefooter_image}}" alt="{{home_cta.cta_image.alt}}" class="size-prefooter_image"/>
            </figure>
            <div class="o-home-cta__content wp-block-media-text__content">
                {% if home_cta.cta_sub %}
                    <p class="o-home-cta__subhead">{{home_cta.cta_sub}}</p>
                {% endif %}
                <h1 class="o-home-cta__headline"><a href="{{home_cta.cta_link.url}}" target="{{home_cta.cta_link.target}}">{{home_cta.cta_head}}</a></h1>
                {% if home_cta.cta_content %}
                    <p>{{home_cta.cta_content}}</p>
                {% endif %}
                <div class="o-home-cta__link wp-block-button">
                    <a class="wp-block-button__link" href="{{home_cta.cta_link.url}}" target="{{home_cta.cta_link.target}}">{{home_cta.cta_link.title}}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
