<nav aria-label="Mobile" class="o-menu o-menu--mobile">
  <ul>
    {% for item in mobile_menu.items %}
      <li class="{{ item.classes|join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
        {% if item.children %}
          <ul>
            {% for child in item.children %}
              <li class="{{ child.classes|join(' ') }}">
                <a href="{{ child.link }}">{{ child.title }}</a>
                {% if child.children %}
                  <ul>
                    {% for child in child.children %}
                      <li class="{{ child.classes|join(' ') }}">
                        <a href="{{ child.link }}">{{ child.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
