<header class="o-post-header">
    <div class="o-post-header__inner">
        {% if post.contentCategory or post.primaryCategory or post.isHot %}
        <div class="o-post-header__categories">
            {% if post.contentCategory %}
            <span class="o-post-header__content-category"><a href="{{ ( post.contentCategory.ID == 8) ? '/watch' : '/read' }}">{{ post.contentCategory.name }}</a></span>
            {% endif %}

            {% if post.primaryCategory and post.primaryCategory.name %}
            <span class="o-post-header__primary-category"><a href="{{ post.primaryCategory.path }}">{{ post.primaryCategory.name }}</a></span>
            {% endif %}

            {% if post.isHot %}
            <span class="o-post-header__is-hot">
                <i aria-label="Hot Content" class="fas fa-fire"></i>
            </span>
            {% endif %}
        </div>
        {% endif %}

        <div class="o-post-header__meta">
            {{ post.date }}
            {% if post.publicAuthor %}
            <span class="o-post-header__author"> - {{ post.publicAuthor }}</span>
            {% endif %}
        </div>



        <h1 class="o-post-header__title">
            {{ title }}
        </h1>

        {% if post.tags %}
        <div class="o-post-header__tags">
            {% for tag in post.tags %}
            <a href="{{ tag.link }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if post.thumbnail %}
    <figure class="o-post-header__image">
        <img src="{{post.thumbnail}}" alt="{{ title }}" width="1024" height="683">
    </figure>
    {% endif %}
</header>
