

<div class="o-subfooter__home">
<div class="o-tiled">
    <div class="o-tiled__tile" style="background-image:url({{ prefooter_cta.styled_image['url'] }})"></div>
    <div class="o-tiled__tile" style="background-image:url({{ prefooter_cta.styled_image['url'] }})"></div>
    <div class="o-tiled__tile" style="background-image:url({{ prefooter_cta.styled_image['url'] }})"></div>
</div>
    <div class="o-subfooter__inner">
        <div class="o-subfooter__image">
        {% if prefooter_cta.displayed_image %}
            <img src="{{ prefooter_cta.displayed_image['url'] }}" alt="{{ prefooter_cta.displayed_image['alt'] }}" />
        {% endif %}
        </div>
        <div class="o-subfooter__content">
            <h2 class="o-subfooter__headline">{{ prefooter_cta.title }}</h2>
            <p class="o-subfooter__tagline">{{ prefooter_cta.tagline }}</p>
            <div class="o-subfooter__buttons">
            <a class="a-app-button a-app-button__google" href="#">Google Play Store</a>
            <a class="a-app-button a-app-button__apple" href="#">Apple App Store</a>
            </div>
        </div>
    </div>
</div>
