{% extends "base.twig" %}

{% block banner %}
    <div class="m-marquee-title">
        <div class="m-marquee-title__inner">
            <h1>{{ title }}</h1>
                {% for i in 0..8 %}
                    <span>{{ title }}</span>
                {% endfor %}
        </div>
    </div>

    {% if hero %}
        {% for post in hero %}
            {% include "components/molecules/hero.twig" %}
        {% endfor %}
    {% endif %}

    <div class="m-adspace m-adspace--archive">
        <span></span>
    </div>
{% endblock %}

{% block precontent %}
    {# Featured Posts #}
    {% if featured_posts %}
        <section class="o-featured-carousel">
            <div class="m-section-header">
                <h2 class="m-section-header__heading a-section-heading">Featured</h2>
            </div>

            <ul class="o-featured-carousel__list js-featured-carousel">
                {% for post in featured_posts.posts %}
                    <li class="o-featured-carousel__item js-featured-carousel-slide">
                        {% include "components/molecules/card.twig" %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {# Featured Categories #}
    {% if featured %}
        {% for group in featured %}
            {% include "components/organisms/featured-carousel.twig" %}
        {% endfor %}
    {% endif %}

    {# Latest Posts #}
    <div class="m-marquee-title">
        <div class="m-marquee-title__inner">
            <h2>Latest {{ single_name }}</h2>
                {% for i in 0..8 %}
                    <span>Latest {{ single_name }}</span>
                {% endfor %}
        </div>
    </div>

{% endblock %}

{% block content %}
    {% if latest_posts|length > 0 %}
        <ul class="posts o-post-feed js-post-collect">
            {% include "templates/partials/post-feed.twig" with {
                'posts': latest_posts
            }  %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

    <a id="load-more-button" class="js-load-more post-feed__button" data-url="content-category-load-more/{{ content_cat }}"> load more </a>
{% endblock %}

{% block sidebar %}
    {% include "components/molecules/archive-sidebar.twig" %}

    <div class="m-adspace m-adspace--post-sidebar">
        <span></span>
    </div>
{% endblock %}
