{% extends "base.twig" %}

{% block content %}
    <main id="main">
        {# Hero #}
        {% if hero %}
            {% for post in hero %}
                {% include "components/molecules/hero.twig" %}
            {% endfor %}
        {% endif %}

        {# Marquee #}
        {% if marquee %}
            {% include "components/molecules/marquee-divider.twig" %}
        {% endif %}

        {# Featured Categories #}
        {% if featured %}
            {% for group in featured %}
                {% include "components/organisms/featured-carousel.twig" %}
            {% endfor %}
        {% endif %}

        {# DJs #}
        <section class="o-dj-carousel alignfull has-background-color has-hot-yellow-100-background-color">
            {% if front_page_options.dj_tiled_image %}
            <div class="o-tiled">
                <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
                <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
                <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
            </div>
            {% endif %}

            <div class="o-dj-carousel__inner">
                <div class="o-dj-carousel__header m-section-header">
                    <h2 class="o-dj-carousel__title a-section-heading">HOT DJS</h2>
                    <a class="o-dj-carousel__view-all a-arrow-link" href="/talent">View All DJs</a>
                </div>
                {% if djs %}
                    <ul class="o-dj-carousel__list js-dj-carousel">
                        {% for post in djs %}
                            <li class="o-dj-carousel__item">
                                {% include "components/molecules/dj-card.twig" %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </section>

        {# CTAs #}
        {% include "components/organisms/home-ctas.twig" %}

        {# Other Categories #}
        {% if other %}
            {% for group in other %}
                <h2>{{ group.term.name }}</h2>
                <a href="{{ group.term.path }}">View All {{ group.term.name }}</a>

                {% if group.posts %}
                    <ul class="posts">
                        {% for post in group.posts %}
                            <li class="posts__item">
                                {% include "components/molecules/card.twig" %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </main>
    {% include "components/organisms/prefooter-home.twig" %}
{% endblock %}
