{% extends "base.twig" %}

{% block banner %}
    <div class="o-dj-hero">
        <div class="o-dj-hero__media o-hero__media" style='background-image:url({{post.thumbnail}})'></div>
        <div class="o-dj-hero__text o-hero__text">
            <a href="/talent" class="o-dj-hero__category">talent</a>
            <h1 class="o-dj-hero__title">{{ title }}</h1>

            {% if shows %}
            <div class="o-dj-hero__showwrapper">

            {% for show in shows %}

            <p class="o-dj-hero__showname"> {{ show.show_name }} </p>
            <p class="o-dj-hero__showtime"> {{show.show_time }}</p>
            {% endfor %}

            </div>
            {% endif %}

            <div class="o-dj-hero__socialwrapper">
                {% if instagram %}
                <a href="http://www.instagram.com/{{ instagram }}" aria-label="Instagram link for {{ title }}" class="o-dj-hero__social o-dj-hero__instagram">{{ instagram }}</a>
                {% endif %}

                {% if twitter %}
                <a href="http://www.instagram.com/{{ twitter }}" aria-label="Twitter link for {{ title }}" class="o-dj-hero__social o-dj-hero__twitter">{{ twitter }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="dj-content__body entry-content">
        <h2 class="dj-content__title">About {{ title }}</h2>
        {{ content|raw }}
        <div class="m-adspace m-adspace--djsingle">
            <span></span>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    {% if cohosts %}
        <h5 class="dj-content__title">{{ title }}'s co-hosts</h5>
        {% for cohost in cohosts %}
            <div class="dj-content__cohost">
                <div class="dj-content__cohost-image">
                {{ cohost.thumbnail }}
                </div>
                <div class="dj-content__cohost-link">
                    <a href="{{ cohost.link }}">{{ cohost.title }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block related %}
    {% include 'components/organisms/dj-related-posts.twig' %}
{% endblock %}
